@-webkit-keyframes move {
  from {
    opacity: 0;
    margin-bottom: -200px;
    transform: rotateY(-90deg); }
  50% {
    opacity: 0.5;
    margin-bottom: -200px;
    transform: rotateY(-45deg); }
  to {
    opacity: 1;
    margin-bottom: 0;
    transform: rotatey(90deg); } }

@keyframes move {
  from {
    opacity: 0;
    margin-bottom: -200px;
    transform: rotateY(-90deg); }
  50% {
    opacity: 0.5;
    margin-bottom: -200px;
    transform: rotateY(-45deg); }
  to {
    opacity: 1;
    margin-bottom: 0;
    transform: rotatey(90deg); } }

.animate {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }
