.features {
  background-color: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 55px; }
  .features-blocks {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .features-block {
    display: flex;
    flex-basis: 30%;
    align-items: center;
    background-color: #fff;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 28px 19px; }
    .features-block__img {
      flex-basis: 40%;
      margin-right: 11px; }
    .features-block__title {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 8px; }
    .features-block__desrc {
      font-size: 14px;
      font-weight: 300;
      line-height: 19px; }

.numbers {
  text-align: center;
  margin-bottom: 37px; }
  .numbers-block {
    display: inline-block;
    width: 30%;
    vertical-align: top; }
    .numbers-block__title {
      margin-bottom: 8px;
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
      color: #ff9d00; }
      .numbers-block__title sup {
        font-size: 24px; }
    .numbers-block__text {
      font-size: 16px;
      font-weight: 300; }
