body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  margin-bottom: 0; }

img {
  max-width: 100%; }

input:focus, button:focus {
  outline: none; }

.button {
  font-size: 12px;
  font-weight: 700;
  padding: 9px 23px;
  color: #292929;
  background-color: #ffd200;
  border: 2px solid #ffd200; }
  .button-o {
    background-color: transparent;
    border: 2px solid #292929; }
    .button-o:hover {
      border: 2px solid #ffd200;
      border-radius: 5px; }
  .button-big {
    padding: 16px 28px; }
    .button-big:hover {
      border-radius: 3px;
      color: red; }

.section-title {
  padding-top: 70px;
  margin-bottom: 45px;
  text-align: center;
  color: #292929;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase; }

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 36px; }
  .header-logo {
    display: flex;
    flex-direction: row;
    align-items: end; }
    .header-logo__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      color: #292929; }
    .header-logo__subtitle {
      color: #969696;
      font-size: 11px;
      font-weight: 400;
      line-height: 22px; }

.header-title__wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 14px; }

.header-phone__wrap {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  line-height: 1.2; }

.header-phone {
  display: flex;
  flex-direction: row;
  align-items: end; }
  .header-phone__number {
    color: #292929;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase; }
  .header-phone__small {
    color: #969696;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px; }

.nav-menu {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ffcc00;
  padding: 20px 0; }
  .nav-menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    color: #000000; }
    .nav-menu__list li {
      list-style-type: none;
      margin: 0; }
      .nav-menu__list li a {
        color: black;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px; }
        .nav-menu__list li a:hover {
          color: red; }

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 1110px;
  margin-top: 100px;
  left: 50%;
  margin-left: -555px;
  z-index: 100; }

.main {
  background: #303030 url(../img/main-bg.jpg) center no-repeat;
  background-size: cover;
  margin-top: 54px; }
  .main-text {
    padding-top: 170px;
    padding-bottom: 140px; }
    .main-text__title {
      opacity: 0.9;
      margin-bottom: 40px;
      color: #fff;
      font-size: 36px;
      font-weight: 500;
      text-transform: uppercase; }
    .main-text__desrc {
      margin-bottom: 60px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
      opacity: 0.9; }
    .main-text-wrap {
      display: flex;
      align-items: center;
      color: #fff; }
      .main-text-wrap span {
        margin-right: 12px;
        font-weight: 300;
        font-size: 12px;
        line-height: 22px; }
      .main-text-wrap a {
        color: #fff;
        font-size: 12px;
        text-decoration: underline; }
  .main-btn {
    margin-right: 25px; }

.dark-bg {
  position: relative;
  z-index: 2; }
  .dark-bg::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1; }

.stock {
  padding-bottom: 70px; }
  .stock-blocks {
    display: flex;
    justify-content: space-between; }
  .stock-block {
    flex-basis: 32%;
    text-align: center;
    border: 2px solid #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px; }
    .stock-block:hover {
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }
    .stock-block img {
      max-height: 99px;
      max-width: 240px;
      margin-bottom: 25px;
      padding-right: 23px;
      padding-left: 23px; }
    .stock-block__title {
      margin-bottom: 20px;
      color: #292929;
      font-size: 19px;
      font-weight: 500;
      text-decoration: underline; }
    .stock-block__text {
      padding-right: 30px;
      padding-left: 30px;
      margin-bottom: 26px;
      color: #626262;
      font-size: 16px;
      font-weight: 300; }
    .stock-block__price {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 30px;
      color: #0f0f0f; }
    .stock-block__btn {
      padding: 17px 63px; }

.features {
  background-color: #f4f4f4; }
  .features-blocks {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center; }
  .features-block {
    flex-basis: 32%;
    border: 2px solid #ffffff;
    padding-top: 40px;
    padding-bottom: 40px; }
    .features-block:hover {
      box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
      border: 2px solid #ffffff;
      background-color: #ffffff; }
    .features-block__img {
      margin-bottom: 40px; }
    .features-block__title {
      color: #292929;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px; }
    .features-block__text {
      color: #292929;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px; }

.products-blocks {
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between; }

.products-block {
  position: relative;
  flex-basis: 23%;
  padding: 20px;
  text-align: center;
  border: 2px solid #f6f6f6; }
  .products-block:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); }
  .products-block__img {
    margin-bottom: 22px; }
  .products-block__title {
    margin-bottom: 20px;
    color: #292929;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline; }
  .products-block__price {
    margin-bottom: 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 500; }
    .products-block__price-sale {
      margin: 0;
      margin-right: 10px;
      display: inline-block;
      font-size: 10px;
      color: #979797;
      font-weight: 400;
      text-decoration: line-through; }
    .products-block__price span {
      color: red;
      font-weight: 500; }
  .products-block__btn {
    padding: 15px 70px; }
  .products-block__sale {
    position: absolute;
    top: 8%;
    left: 20%;
    padding: 3px 10px;
    text-transform: uppercase;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500; }

.services {
  background-color: #f4f4f4;
  padding-bottom: 80px; }
  .services-blocks {
    display: flex;
    justify-content: space-between; }
  .services-block {
    flex-basis: 32%;
    text-align: center;
    border: 2px solid #ffffff; }
    .services-block:hover {
      box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
      border: 2px solid #ffffff;
      background-color: #ffffff; }
    .services-block__img {
      min-height: 179px;
      padding-top: 52px;
      margin-bottom: 26px; }
    .services-block__title {
      margin-bottom: 28px;
      font-size: 15px;
      font-weight: 500;
      text-decoration: underline; }

.contacts {
  background: #292929 url(../img/contacts-bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px; }
  .contacts-block {
    width: 380px;
    color: #292929;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    margin-left: 60%;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 70px;
    background-color: #ffffff; }
    .contacts-block__title {
      color: #292929;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px; }
    .contacts-block__numbers {
      font-size: 18px;
      font-weight: 500;
      line-height: 37px;
      text-transform: uppercase;
      margin-bottom: 30px; }
    .contacts-block__address {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 30px; }
    .contacts-block__mail {
      font-size: 16px;
      font-weight: 300;
      text-decoration: underline; }
    .contacts-block__icon {
      margin-left: 20px; }

.footer {
  background-color: #292929;
  padding-top: 50px;
  padding-bottom: 40px; }
  .footer-wrap {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .footer-logo__img {
    margin-bottom: 50px; }

.footer-logo__wrap {
  display: flex;
  flex-direction: column; }

.copy {
  opacity: 0.9;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px; }

.footer-phone {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }
  .footer-phone__wrap {
    display: flex;
    flex-direction: column; }
  .footer-phone__number {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px; }
  .footer-phone__small {
    margin-bottom: 30px;
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    line-height: 22px; }

.footer__btn {
  color: #ffffff;
  border: 2px solid #fff; }
